@font-face {
    font-family: modular;
    src: url(./assets/DESIGNER.otf);
}
@font-face {
    font-family: submodular;
    src: url(./assets/GOTHAM-LIGHT.OTF);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* height of sticky header */
  }

.header {
    background: url(./assets/625993-PNZP34-678.jpg) no-repeat center;
    background-size: cover  ;
    min-height: 80vh;
    
}   


nav a img {
    height: 50px;
}

.nav-link {
    color: #009f8d !important;
    
}

.nav-link:hover {
    color: #00dcc3 !important;
    
}


.btn-modular {
    background-color: #009f8d;
    color: white;
    border-color: #009f8d;
}

.btn-modular:hover {
    background-color: #00dcc3;
    border-color: #00dcc3;
    color: white;
    
}

.logo-circular {
    box-shadow: 10px 10px 5px -10px rgba(0,220,195,1);
    transition-duration: 0.4s;
    
}

.logo-circular:hover {
    box-shadow: 0px 0px 35px 0px rgba(0,220,195,1);
}


#main .carousel-inner img {
    max-height: 60vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 220, 195, 0.6);
    color: white;
    z-index: 1;
    
}

.modular-font {
    font-family: modular;
}

.modular-subfont {
    font-family: submodular;
}

.modular-color {
    color: #009f8d !important;
}

.modular-subcolor {
    color: gray;
}

#quienes img {
    width: 50vh;
}

#servicios {
    border-left: 20px solid #009f8d;
    background-color: #00dcc3;
    
}

#servicios div img {
    width: 15vh;
    transition-duration: 0.4s;
}


#servicios div img:hover {
    width: 16vh;
}


.plano {
    width: 15vh !important;
    transition-duration: 0.4s;
    
}

.plano:hover {
    width: 16vh!important;
    
}

.linea-modular {
    border-left: 8px solid #009f8d;
    background-color: #00dcc3;
    
}

#modelos .card {
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.25);
}


.card {
    transition-duration: 0.4s;
}

.card:hover {
    box-shadow: 0px 0px 35px 0px rgba(0,220,195,0.3);
}

.card img {
    max-height: 480px;
    max-width: 640px;
}

.dropdown-item {
    color: #009f8d !important;
}

.dropdown-item:hover {
    background-color: #00dcc3 !important;
    color: white !important;
}



.faq-img {
    width: 31vh;
}
#quienes h4 {
    color:white;
}
#preguntas {
    background-color: #F8F8F8 !important;
}

#preguntas img {
    transition-duration: 0.4s;
}
#preguntas img:hover {
    filter: drop-shadow(5px 5px 5px rgba(0,220,195,1));
}

#footer {
    background-color: #009f8d;
    box-shadow: inset 0px 10px 5px 0px rgba(0,0,0,0.35);
    
}

#footer ul li img {
    width: 4vh;

}

#footer ul li a {
   color: white;

}
#footer ul li a:hover {
    text-decoration: none;

}

#footer ul {
    list-style: none;
}
.borde-footer {
    background-color: #007b6d;
    height: 5vh;
}

.logo-footer {
    width: 20vh;
}

#contacto ul li img {
    width: 4vh;

}

#contacto ul {
    list-style: none;
}
#contacto ul li a:hover {
    text-decoration: none;

}
#contacto img {
    width: 2.5vh;
}
